import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [46]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [47]:
filename = "../data/immoweb-dataset.csv"
df = pd.read_csv(filename)
display(df.head())

,Unnamed: 0,id,url,type,subtype,bedroomCount,bathroomCount,province,locality,postCode,...,hasOffice,toiletCount,hasSwimmingPool,hasFireplace,hasTerrace,terraceSurface,terraceOrientation,accessibleDisabledPeople,epcScore,price
0,0,20661494.0,https://www.immoweb.be/en/classified/apartment...,APARTMENT,APARTMENT,2.0,1.0,Brussels,Etterbeek,1040,...,NaN,1.0,NaN,NaN,True,7.0,NaN,NaN,C,399000.0
1,1,20647642.0,https://www.immoweb.be/en/classified/house/for...,HOUSE,HOUSE,4.0,2.0,Brussels,Etterbeek,1040,...,True,3.0,NaN,NaN,True,1.0,NaN,NaN,E,895000.0
2,2,20644816.0,https://www.immoweb.be/en/classified/apartment...,APARTMENT,APARTMENT,2.0,1.0,Brussels,Etterbeek,1040,...,NaN,1.0,NaN,NaN,True,2.0,NaN,NaN,F,465000.0
3,3,20659813.0,https://www.immoweb.be/en/classified/apartment...,APARTMENT,APARTMENT,2.0,2.0,Brussels,Bruxelles,1040,...,NaN,2.0,NaN,NaN,True,3.0,NaN,NaN,B,590000.0
4,4,20633249.0,https://www.immoweb.be/en/classified/flat-stud...,APARTMENT,FLAT_STUDIO,1.0,1.0,Brussels,Etterbeek,1040,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,E,289000.0

In [64]:
def hasLivingRoom():
    df = df.drop('hasLivingRoom', axis='columns') # drop empty strings

In [ ]:
display(df['hasLivingRoom'])

In [62]:
def buildingConstructionYear():
    df['buildingConstructionYear'] = df['buildingConstructionYear'].fillna('missing')

In [63]:
display(df['buildingConstructionYear'])

0         2004.0
1         1910.0
2         1970.0
3         2018.0
4         1906.0
          ...
80363     2008.0
80364     1970.0
80365     1964.0
80366    missing
80367     1964.0
Name: buildingConstructionYear, Length: 80368, dtype: object

In [60]:
def hasBasement():
    df['hasBasement'] = df['hasBasement'].fillna(False) # replace empty strings with None

In [61]:
display(df['hasBasement'])

0         True
1         True
2        False
3        False
4        False
         ...
80363    False
80364     True
80365     True
80366    False
80367    False
Name: hasBasement, Length: 80368, dtype: bool